@model BaseViewModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gettmailV2.styles.css" asp-append-version="true" />
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @if (ViewBag.hasOgTags != null && ViewBag.hasOgTags)
    {
        string ogTitle = ViewData["ogTitle"] as string;
        string ogUrl = ViewData["ogUrl"] as string;
        string ogDescription =  ViewData["ogDescription"] as string;

        <meta property="og:title" content="@ogTitle">
        <meta property="og:site_name" content="DevMail">
        <meta property="og:url" content="@ogUrl">
        <meta property="og:description" content="@ogDescription">
        <meta property="og:type" content=website>
        <meta property="og:image" content=https://devmailapi.com/favicon.ico>
    }


    <link rel="canonical" href="@Model.CanonicalUrl" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YL4EFYTC5W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-YL4EFYTC5W');
    </script>
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="/"><span class="fw-bolder text-gradient">DevMail</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="/docs" title="View documentation">Docs</a></li>
                        <li class="nav-item"><a class="nav-link" href="/privacy" title="Privacy policy">Privacy</a></li>
                        @if (Model.IsSignedIn)
                        {
                            <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout" style="color: red"><img
                                        src="/imgs/icons/logout.svg" alt="logout icon" /> Logout</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" href="/register" title="Create a free account">Create
                                    an
                                    Account</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login" title="Create a free account">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Body -->

        <div>
            @RenderBody()
        </div>
    </main>
    <!-- Footer-->
    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <a href="https://awoldt.com" style="text-decoration: none; color: rgb(108, 117, 125)"><img
                            src="/imgs/icons/brush.svg" alt="paint brush icon" /> <b>Made by Awoldt</b></a>
                </div>
                <div class="col-auto">
                    <a href="https://github.com/awoldt/DevMail" title="Source code"><img src="/imgs/icons/github.svg"
                            alt="GitHub icon" width="25" /></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>